node_modules
front/node_modules
back/node_modules
.next
front/.next
.git
.gitignore
Dockerfile
docker-compose.yml
README.md
*.md
*.log
# Exclude local database journals (but NOT the main dev.db - we want it pre-seeded)
*.db-journal
back/*.db-journal
.env
front/.env
back/.env
